# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
ENV/
.env/

# uv (Astral)
.uv/
.uv-cache/

# Notebooks
*.nbconvert.ipynb
